.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-column-gap: 18px;
  grid-row-gap: 20px;
  justify-content: center;
  padding-top: 47px;
}


@media (max-width: 700px) {
  .elements {
    padding-top: 36px;
  }
}
