.header__button {
	width: 56px;
	height: 22px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #a9a9a9;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}

.header__button:hover {
	opacity: 0.6;
}

@media screen and (max-width: 910px) {
	.header__button {
		margin-right: 30px;
	}
}

@media screen and (max-width: 550px) {
	.header__button {
		margin-left: auto;
		margin-right: auto;
	}
}