.header__button {
	width: 56px;
	height: 22px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #a9a9a9;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}

.header__button:hover {
	opacity: 0.6;
}

@media screen and (max-width: 320px) {
	.header__button {
		margin-top: 18px;
		padding-bottom: 40px;
		align-self: center;
	}
}